<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    
</head>

    <body>
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Success is the best revenge</a>
            
            {% if user.is_authenticated %}
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button>
               <span class="navbar-text">
                  Welcome, {{ user.first_name|default:user.username }}!
               </span>
               <form class="form-inline my-2 my-lg-0" action="{% url 'djangoapp:logout_request' %}" method="post">
                  {% csrf_token %}
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Out</button>
               </form>
            {% endif %}
         
            <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav">
                  <li class="nav-item active">
                     <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'djangoapp:about' %}">About Us</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                  </li>
               </ul>
            </div>
         </nav>
        </body>
        
{% block content %}
         
    <h2>Dealership Information</h2>

    <table 
        data-toggle="table"
        data-show-columns="true"
        data-search="true"
        data-filter-control="true"
        data-pagination="true"
    >
        <thead>
            <tr>
                <th data-field="name" data-filter-control="input" data-sortable="true">Name</th>
                <th data-field="address" data-filter-control="input" data-sortable="true">Address</th>
                <th data-field="city" data-filter-control="input" data-sortable="true">City</th>
                <th data-field="state" data-filter-control="input" data-sortable="true">State</th>
                <th data-field="zip" data-filter-control="input" data-sortable="true">ZIP Code</th>
            </tr>
        </thead>
        <tbody>
            {% for dealer in dealers %}
                <tr>
                    <td>{{ dealer.name }}</td>
                    <td>{{ dealer.address }}</td>
                    <td>{{ dealer.city }}</td>
                    <td>{{ dealer.state }}</td>
                    <td>{{ dealer.zip }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

